.about {
    min-height: 619px;
    padding: 51px 0 59px;
    .section_heading {
        margin-bottom: 24px;
    }
    .section_descr {
        max-width: 900px;
    }
    &_item {
        &_img {
            max-height: 210px;
            margin-bottom: 30px;
            img {
                width: 100%;
                height: auto;
            }
        }
        &_heading {
            font-size: 18px;
            color: $main_color;
            text-align: center;
            margin-bottom: 18px;
        }
        &_text {
            font-size: 14px;
            color: #3a3a3a;       
            text-align: justify;
        }
    }
    
}