.line {
    display: block;
    margin: 0 auto;
    margin-bottom: 22px;
    height: 1px;
    width: 148px;
    background-color: $main_color;
}

.section_descr {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 21px;
    color: #2e2e2e;
    margin-bottom: 41px; 
}